# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual environment
venv/
.env
.env.*

# Alembic cache
alembic/__pycache__/

# -----------------------------
# Node / Next.js
# -----------------------------
node_modules/
.next/
out/
coverage/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Misc
# -----------------------------
*.pem
*.tsbuildinfo
next-env.d.ts